#*#
*.dll
*.dylib
*.exe
*.out
*.so
*.swp
*.test
*~
dnscrypt-proxy/dnscrypt-proxy2
dnscrypt-proxy/dnscrypt-proxy
.idea
.vscode
/utils/generate-domains-blacklist/blacklist-rules.txt
/utils/generate-domains-blocklist/dnscrypt-proxy-blacklist.txt
